.stats {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100px;
  background-color: var(--bgSecColor);
  border-top: 2px solid var(--borderColor);
}

.item:not(:last-child) {
  border-right: 2px solid var(--borderColor);
}

.label {
  color: var(--secTextColor);
  font-size: 12px;
}

.quantity {
  font-weight: 700;
}
